@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');

body {
  background-color: #002642;
  color: #E5DADA;
}

* {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

main {
  min-height: 90vh;
  width: 90%;
  margin: 0 auto;
}

.card{
  background-color: transparent;
  border: transparent;
  overflow: hidden;
  border-radius: 20px;
}

.barra-superior {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 15%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: end;
  font-size: 2rem;
}

.bi{
  margin-right: 2rem;
  color: #ebd9d9;
}

.bi:hover{
  color: #f72424;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}